<div class="container-fluid">
  <div class="row">
    <div class="col out_button">
      <button id="new_reply_btn" class="button">返信</button>
      <div class="text">
        <p>返信してください。</p>
      </div>
    </div>
  </div>
  <div class="row" id="new_reply">
    <%= form_with model: reply, url: comment_replies_path(comment.id), method: :post, local: true, class:"col" do |f| %>
      <%= f.text_area :text, size: "120x5", class: "block" %>
      <%= f.file_field :image, class: "block" %>
      <%= f.submit "送信", class: "block" %>
    <% end %>
  </div>
</div>