<div class="row">
  <div class="col">
    <div>
      <!--返信テキスト-->
      <%= link_to comment_reply_path(comment_id: reply.comment_id, id: reply.id) do %>
        <p class="inline-block">
          削除されました。
        </p>
      <% end %>
    </div>
    <div>
      <!--返信日時-->
      <p class="inline-block">
        返信日時<%= l reply.created_at %>
      </p>
      <!--削除日時-->
      <p class="inline-block">
        削除日時<%= l reply.updated_at %>
      </p>
    </div>
  </div>
</div>
