<div class="container">
  <% posts.each do |post| %>
    <% if post.is_deleted == false %>
      <%= render partial: "public/posts/post_exist", locals: {post: post} %>
    <% elsif post.is_deleted == true && (post.comments.find_by(is_deleted: false) || post.replies.find_by(is_deleted: false)) %>
      <%= render partial: "public/posts/post_delete", locals: {post: post} %>
    <% end %>
  <% end %>
</div>