<div class="container">
  <!--削除されていない場合-->
  <% if comment.is_deleted == false %>
    <div id="comment_<%= comment.id  %>">
      <%= render partial: "public/comments/comment_exist", locals: {comment: comment} %>
    </div>
    <!--削除されている場合-->
    <!--削除されていない返信がある場合-->
  <% elsif comment.is_deleted == true && comment.replies.find_by(is_deleted: false) %>
    <%= render partial: "public/comments/comment_delete", locals: {comment: comment} %>
  <% end %>
</div>
