<div class="container">
  <div class="row">
    <div class="col"><h2>Frunkfrut</h2></div>
    <div class="col">
      <div class="row">
        <div class="col"></div>
      </div>
      <div class="row", style="margin: 0, padding: 0">
        <li class="col", style="display: inline">サイト紹介</li>
        <li class="col", style="display: inline">マイページ</li>
        <li class="col", style="display: inline">フォロ一覧</li>
        <li class="col", style="display: inline">ランキング</li>
      </div>
    </div>
  </div>
</div>