<% if user_signed_in? %>
  <div class="container-fluid">
    <div class="row">
      <div class="col out_button">
        <button id="new_post_btn" class="button">新規投稿</button>
        <div class="text">
          <p>質問やお題を投稿してみましょう。</p>
          <p>内容は些細なことでもつまらないことでも構いません。</p>
          <p>あとから、削除することも編集することもできます。</p>
        </div>
      </div>
    </div>
    <div class="row" id="new_post">
      <%= form_with model: post, url: posts_path, method: :post, local: true, class: "col" do |f| %>
        <%= f.text_area :text, size: "120x5", class: "block" %>
        <%= f.file_field :image, class: "block" %>
        <%= f.submit "送信", class: "block" %>
      <% end %>
    </div>
  </div>
<% end %>
