<div class="container">
  <% if user_signed_in? %>
    <div class="row">
      <div class="col">
        <button>新規投稿</button>
      </div>
      <div class="col">
        <div class="row">
          <p class="col">投稿してください</p>
        </div>
      </div>
    </div>
    <div class="row">
      <%= form_with model: post, url: posts_path, method: :post, local: true, class:"col" do |f| %>
        <%= f.text_field :text %>
        <%= f.file_field :post_image %>
        <%= f.submit "送信" %>
      <% end %>
    </div>
  <% end %>
</div>
