<div class="container">
  <div class="row">
    <div class="col">
      <button>投稿一覧</button>
    </div>
    <div class="col">
      <p>投稿してください</p>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col">
        <button>新着一覧</button>
      </div>
      <div class="col">
        <p>押してください</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button>タイムライン</button>
      </div>
      <div class="col">
        <p>押してください</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button>自分の投稿</button>
      </div>
      <div class="col">
        <p>押してください</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button>コメントした投稿</button>
      </div>
      <div class="col">
        <p>押してください</p>
      </div>
    </div>
  </div>
</div>